header{
    background-image: url(frutitasssss.jpg);
    color: rgb(255, 72, 0);
    padding-top: 10px;
    padding-bottom: 500px;
    font-style: oblique;
    text-align: center;
}

h1{
    background-color: aliceblue;
    width: 50%;
    text-align: center;
    margin-left: 350px;
}
.amarillo{
    background-color: yellow;
}
